.header__lang-link {
  align-self: flex-start;
  color: white;
  text-decoration: none;
  height: 28px;
  width: 29px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

@media (max-width: 540px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
   }
}
/*
.header__lang-link:first-child {
    margin-right: 18px;
}
*/