
.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 48px;
  margin-bottom: 92px;
}

@media  (max-width: 540px) {
    .places {
      padding: 16px;
      margin-bottom: 66px;
      } 
  }
  
@media  (min-width: 541px) {
  .places {
    padding: 24px;
  } 
}
   