.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  white-space: pre-line;
 margin: 32px 412px 245px;
}

@media (max-width: 1023px) {
  .cover__subtitle {
    margin: 32px 279px 195px;
  }
}

@media (max-width: 767px) {
  .cover__subtitle {
   margin: 32px 204px 115px;
  }
}

@media (max-width: 600px) {
  .cover__subtitle {
   margin: 32px 100px 115px;
  }
}

@media (max-width: 450px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 16px 33px;
  }
}