.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
 
}
/*
@media (max-width: 1023px) {
  .cover__subtitle {
    margin: 32px 279px 195px;
  }
}

@media (max-width: 767px) {
  .cover__subtitle {
    margin-left: 204px;
    margin-right: 204px;
    margin-bottom: 115px;
  }
}

@media (max-width: 620px) {
  .cover__subtitle {
    margin-left: 100px;
    margin-right: 100px;
  }
}
*/
@media (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}