.footer__links{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
}

@media screen and (max-width: 540px) {
    .footer__links {
      flex-direction: column;
     }
  }

  @media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: row;
     }
  }