.cover {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../images/cover-trains.jpg);
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 245px 312px;
  margin: 0 48px 0;
}

.cover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.3;
  transition: opacity 200ms ease-in-out;
  z-index: -1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cover:hover::after {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover {
    padding: 195px 232px;
    margin: 0;
  }
}

@media (max-width: 1023px) {
  .cover {
    padding: 115px 104px;
  }
}

@media (max-width: 767px) {
  .cover {
    padding: 33px 16px;
  }
}