.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;

}
/*
@media (max-width: 1279px) {
  .cover__title {
    margin-top: 195px;
    margin-left: 232px;
    margin-right: 232px;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .cover__title {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 620px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 288px;
  }
}
*/
@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}