.place {
  display: grid;
  grid-template-columns: 1fr minmax(mincontent, max-content);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
  align-items: start;
  gap: 48px 40px;
}

@media (max-width: 767px) {
  .place {
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
  }
}