.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  margin: 92px 48px 24px;
}


@media (max-width: 1023px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-top: 88px;
    gap: 48px;
    margin: 0 16px  24px;
  }
}

@media (max-width: 539px) {
  .footer {
    flex-direction: column;
    margin-top: 64px 0  24px;
  }
}