.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  flex-direction: row;
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
  }
}