.place__website {
  display: flex;
  flex-direction: column;
  grid-area: place__website;
  align-content: flex-end;
  margin: 0;
}

@media (max-width: 767px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
  }
}